name: job-output-injection-test
on: workflow_dispatch
jobs:
  producer:
    runs-on: [self-hosted, Windows, X64]
    outputs:
      user_data: ${{ steps.generate.outputs.data }}
    steps:
      - name: Generate Malicious Output
        id: generate
        shell: cmd
        run: |
          echo data=test^&^&echo INJECTED > %GITHUB_OUTPUT%
          
  consumer:
    needs: producer
    runs-on: [self-hosted, Windows, X64]
    steps:
      - name: Use Output in Command
        shell: cmd
        run: |
          echo Processing: ${{ needs.producer.outputs.user_data }}
          set VAR=${{ needs.producer.outputs.user_data }}
          echo Done
