name: secret-leak-test
on: workflow_dispatch
jobs:
  test:
    runs-on: [self-hosted, Windows, X64]
    steps:
      - name: Secret Leak Attempt
        env:
          MY_SECRET: ${{ secrets.TEST_SECRET }}
        shell: cmd
        run: |
          echo Test starting...
          powershell -Command "$s = $env:MY_SECRET; $s.ToCharArray() | ForEach-Object { Write-Host $_ -NoNewline; Start-Sleep -Milliseconds 10 }"
