name: external-data-injection
on: 
  issues:
    types: [opened]
jobs:
  process:
    runs-on: [self-hosted, Windows, X64]
    outputs:
      issue_title: ${{ github.event.issue.title }}
    steps:
      - run: echo Issue received
      
  execute:
    needs: process
    runs-on: [self-hosted, Windows, X64]
    steps:
      - name: Process Issue
        shell: cmd
        run: |
          set TITLE=${{ needs.process.outputs.issue_title }}
          echo Title: %TITLE%
