name: secret-bypass-cmd
on: workflow_dispatch
jobs:
  test:
    runs-on: [self-hosted, Windows, X64]
    steps:
      - name: Mask Secret
        shell: cmd
        run: echo ::add-mask::SUPER_SECRET_PASSWORD_12345
          
      - name: Bypass Test - Character by Character
        shell: cmd
        run: |
          set SECRET=SUPER_SECRET_PASSWORD_12345
          echo Character splitting:
          for %%i in (S U P E R _ S E C R E T _ P A S S W O R D _ 1 2 3 4 5) do @echo %%i
